/* ここから下に記載していく */
@charset "utf-8";


body{
  color: #222222;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  text-align: center;
  max-width: 1200px;;
}


/* header */

.header{
  display: flex; 
  justify-content: space-around;
  align-items: center;
  height: 121px;
}

.logo{
  display: flex;
  height: 121px;
  width: auto;
}

.nav{
  display: flex;
  align-items: center;
  text-align: center; 
  font-size: 21px;
}

.nav_1{
  margin: 25px;
}

/* mainvisual */
.mainvisual{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}


.mainvisual-bg{
  background: url(../課題/own/nonbeyokotyo.jpg) no-repeat 0 0;
  background-size: 100%;
}


.mainvisual-txt{
  text-align: center;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
  color:orange;
  letter-spacing: 0.4rem;
  font-size: 2rem;
  padding: 8rem 0;
}

.title_mainvisual{
  font-weight: bold;
  margin-bottom: 20px;
}


/* content */


/* about */

.About{
  margin-top: 60px;
  margin-bottom: 45px;
  text-align: center;
}

.title_about{
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #ffd61a;
}

.subtitle_about{
  margin: 0 0 45px;
  font-size: 18px;
}

.text-about{
  margin: 40 0 40 0px;
  font-size: 16px;
  line-height: 1.8;
}

.text-about1{
  margin: 0 0 40px;
  line-height: 1.8;
}

/* pictures */

.pictures{
  display: flex
}

.pictures div{
  width: 25%;
}

.pictures div img{
  width: 100%;
  max-height: 200px;
  object-fit: scale-down;
}

/* course */

#Course{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 30px;
}

.text-course{
  font-size: 16px;
  margin-bottom: 45px;
  line-height: 1.8;
}

.course_section1{
  display: flex;
}

.course_img-1{
  width: 50%;
  object-fit: cover;
}

.course_img-1 img{
  width: 100%;
}

.course_txt_div{
  width: 50%;
  margin: 120px 0 120px 0;
}

.ja-title-course-1{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: left;
  padding: 0 0 0 50px;
}

.text-course-1{
  width: 480px;
  text-align: justify;
  font-size: 16px;
  line-height: 1.8;
  padding: 0 0 0 50px;
}



/*  */
.course_section2{
  display: flex;
}

.course_img-2{
  width: 50%;
  object-fit: cover;
}

.course_img-2 img{
  width: 100%;
}

.course_txt_div2{
  width: 50%;
  margin: auto;
}

.course_txt_div2_2{
  float: right;
  padding-right: 50px;
}

.ja-title-course-2{
  width: 480px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: left;
}

.text-course-2{
  width: 480px;
  text-align: left;
  font-size: 16px;
  line-height: 1.8;
}


/* news */

#NEWS{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #ffd61a;
  margin-top: 60px;
}

.ja-title-news{
  text-align: center;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.news_wrap{
  display: flex;
  justify-content: center;
  align-items: center;
}

.news_1{
  display: flex;
  flex-flow: column;
  width: 300px;
  margin-left: 15px;
  margin-right: 15px;
}

.news_1 div img{
  width: 300px;
}

.news_1_img{
  width: 300px
}

.news_1_txt{
  font-size: 16px;
}

.news_1:hover{
  transform: scale3d(1.5, 1.5, 1.5);
  background-color: #bfbfbf;
}

.news_1:hover{
  animation-name : sample1Anime;
  animation-duration : 2s;
  animation-timing-function: ease-out;
  animation-delay : 0s;
  animation-iteration-count: 1;
}

@keyframes sample1Anime{
  0% { transform: scale3d(1, 1, 1);
  }
  100% {transform : scale3d(1.5, 1.5, 1.5);
  }
} 

.date_1{
  margin-top: 30px;
  margin-bottom: 24px;
}

.text-news-1{
  line-height: 1.8;
}

.btn_jump{
  width: 300px;
  height: 38px;
  font-size: 16px;
  padding-top: 22px;
  background: #ffd61a;
  color: #fff;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.btn_jump:hover{
  transform: scale3d(2, 2, 2);
}

/* access */
#access{
  background-color: #fafafa;
}

.en-title-access{
text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 30px;
}

.ja-title-access{
  font-size: 16px;
  margin-bottom: 60px;
}


.form_access{
  width: 600px;
  margin: auto;
}

.form_inner{
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0 50px 0; 
}

.form_title{
  width: 200px;
  height: 30px;
  margin-top: 20px;
  text-align: start;
  font-size: 16px;
}

.form_item{
  width: 400px;
  height: 30px;
  margin-top: 20px;
  text-align: start;
  font-size: 16px;
}

/* map */
.iframe-wrap {
  position: relative;
  width: 100%;
  padding-top: 25%; /* = height ÷ width × 100 */
}
.iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* contact */

#Contact{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: auto;
  margin: 60px 0 30px 0;
}

.ja-title-contact{
  font-size: 16px;
  margin-bottom: 60px;
}


.text-contact{
  text-align: center;
  margin-bottom: 30px;
}

.text-caution{
  margin-bottom: 60px;
  text-align: center;
}

.form_contact{
  width: 640px;
  margin: auto;
}

.form_inner_c{
  display: flex;
  flex-wrap: wrap;
  border-top: solid;
  border-bottom: 3px solid #bfbfbf;
  border-color: #bfbfbf;
  text-align: start;
}

.form_title_c{
  width: 232px;
  border-top: solid thin;
  border-right: solid thin;
  border-color: #bfbfbf;
  padding: 20px 0 8px 8px;
}

.form_item_c{
  width: 389px;
  border-top: solid thin;
  border-left: solid thin;
  border-color: #bfbfbf;
  padding: 8px 0 8px 8px;
}

.form_title_c1{
  width: 232px;
  border-top: solid thin;
  border-right: solid thin;
  border-color: #bfbfbf;
  padding: 12px 0 8px 8px;
}

/* select box */

.cp_ipselect {
	overflow: hidden;
}
.cp_ipselect select {
	width: 328px;
  height: 40px;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl01 {
	position: relative;
	border: thin solid #2b2b2b;
	border-radius: 2px;
	background: #ffffff;
}
.cp_ipselect.cp_sl01::before {
	position: absolute;
	top: 16px;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
.cp_ipselect.cp_sl01 select {
  font-size: 16px;
	padding: 8px 38px 8px 8px;
	color: #666666;
}


.form_title_c2{
  appearance: none;
  width: 232px;
  line-height: 40px;
  border-top: solid thin;
  border-right: solid thin;
  border-color: #bfbfbf;
  padding: 8px 0 8px 8px;
}

.form_item_c2{
  appearance: none;
  width: 389px;
  line-height: 40px;
  border-top: solid thin;
  border-left: solid thin;
  border-color: #bfbfbf;
  padding: 8px 0 8px 8px;
}

.form_parts{
  appearance: none;
  padding: 8px;
  font-size: 16px;
}

.btn_post{
  width: 300px;
  height: 38px;
  font-size: 16px;
  padding-top: 22px;
  background: #ffd61a;
  color: #fff;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 140px;
}


.btn_post:hover{
  opacity: 0.5;
}

/* footer */

.footer{
  color: #e0e0e0;
  background-color: #707070;
  padding: 30px 0 30px;
}
